@using TaskFlow.Application.TaskItem;
@using TaskFlow.Application.User;

@model IEnumerable<TaskItemDto>

@{
	ViewData["Title"] = "Tasks";
}

<h1>Tasks</h1>

<p>
	<a asp-action="Create">Create New</a>
</p>

<div class="mb-3">
	<label for="filterType">Filter by:</label>
	<select id="filterType" class="form-select">
		<option value="">Select filter</option>
		<option value="AssignedTo">AssignedTo</option>
		<option value="CreatedBy">CreatedBy</option>
		<option value="Priority">Priority</option>
		<option value="Status">Status</option>
	</select>
</div>

<div id="filterContainer" class="mt-3">
	Container
</div>

<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Id)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Title)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Description)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Priority)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Status)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.CreatedAt)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.CreatedBy)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.AssignedTo)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Id)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Title)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Description)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Priority)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Status)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.CreatedAt)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.CreatedByEmail)
				</td>
				<td>
					@(string.IsNullOrEmpty(item.AssignedToEmail) ? "None" : item.AssignedToEmail)
				</td>
				<td>
					<a class="btn btn-primary" asp-action="Edit" asp-controller="TaskItem" asp-route-id="@item.Id">Edit</a>
					<a class="btn btn-primary" asp-action="Delete" asp-controller="TaskItem" asp-route-id="@item.Id">Delete</a>
				</td>
			</tr>
		}
	</tbody>
</table>

@section Scripts {
	<script>
		document.getElementById('filterType').addEventListener('change', function() {
			const type = this.value;

			if (!type) {
				document.getElementById('filterType').innerHTML = '';
				return;
			}

			fetch(`/TaskItem/LoadFilterPartial?filter=${type}`)
				.then(response => response.text())
				.then(html => {
					document.getElementById('filterContainer').innerHTML = html;
				});
		});
	</script>
}